@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-image: url('./components/images/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

@media (max-width: 1220px) {
    body {
        min-height: 100vh;
    }
}